[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "1.6.2"
pymc3 = "*"
numpy = "==1.21.4"
requests = "*"
matplotlib = "*"

[dev-packages]
black = "*"
isort = "*"
ipython = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
